table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 15%;
  cursor: pointer;
}

:host ::ng-deep .mat-sort-header-content {
  color: #fff;
}

:host ::ng-deep .mat-paginator-outer-container {
  background-color: rgb(50, 56, 56);
}

:host ::ng-deep tr.mat-header-row {
  background-color: #009688;
}

:host ::ng-deep tr.mat-row {
  height: 70px;
}
